.header{
    .logo{
        display: block;
        text-align: center;
        img{
            max-width: 200px;
           
        }
    }

    &_fieldset{
        width: 40%;
        margin: 0 auto;
        position: relative;
        @media screen and (max-width: 767px){
            width: 100%;
        }
    }
    &_label-search{
        width: 100%;
        display: block;
        position: relative;
        border-radius: 0px;
        overflow: hidden;
        &_inputName{
            width: 100%;
            padding: 10px 35px 10px 10px;
            border-radius: 10px;
            border: 2px solid $border-color;
            border-radius: 0px;
            outline: none;
            height: 40px;
            font-size: 18px;
            font-weight: 700;
            &.error{
                border: 2px solid $error;
            }
        }
        &_search-button{
            position: absolute;
            top: 6px;
            right: 10px;
            background: none;
            border: none;
            outline: none;
            padding: 0;
            z-index: 5;
            svg{
                width: 25px;
                height: 25px;
            }
        }
    }

    .list{
        background: #fff;
        max-height: 250px;
        overflow-y: auto; 
        padding: 5px 0;
        border: 2px solid $border-color;
        position: absolute;
        top: 100%;
        left: 0;
        right: 0;
        li{
            padding: 10px;
            a{
                display: block;
                color: $bg-color;
                text-decoration: none;
            }
        }
    }
    
}
